@import './../common/_rem.scss';
@import './../common/_utilities.scss';
@import './../common/_common.scss';
@import './../common/site_common.scss';
@import './../common/coolpad_app_variable.scss';
@include global-reset;

@mixin app-examine-page {
    .container{
        width: 100%;
        width: 100vw;
    }
    .examine-type-box{
        width: 100%;
        .type-item{
            display: inline-block;
            width: 97%;
            height: 1.33rem;
            line-height: 1.33rem;
            padding-left: 3%;
            @include font-dpr(18px, 1.33rem);
            color: #000;
            border-bottom: .010rem solid #eee;
        }
        span{
            display: inline-block;
        }
        .item-txt{
            width: 90%;
        }
        .item-icon{
            width: 8%;
            text-align: center;
            color: #b2b2b2;
        }
    }
}
@include app-examine-page;