@import './../common/_rem.scss';
@import './../common/_utilities.scss';
@import './../common/_common.scss';
@import './../common/site_common.scss';
@import './../common/coolpad_app_variable.scss';
@include global-reset;

@mixin app-findpart-page {
    .container{
        width: 100%;
        width: 100vw;
        .part-init-page{
            width: 100%;
            margin-top: 1.2rem;
        }
        .select-phone-type-page{
            width: 100%;
            
        }
    }
    .phone-type-box{
        width: 100%;
        height: auto;
        overflow: hidden;
        .type-item{
            width: 100%;
            height: 1.33rem;
            padding-left: .33rem;
            border-bottom: .02rem solid #e0e0e0;
            span{
                display: inline-block;
                height: 1.33rem;
                line-height: 1.33rem;
                float: left;
                
            }
        }
    }
    .checked{
        background: url(/static/app_service/ic_done.png) no-repeat 0 center;
        background-size: 50%;
    }
    .item-txt{
        width: 85%;
        @include font-dpr(16px, 1.33rem);
        color: #212121;
    }
    .is-checked{
        width: 15%;
        text-align: left;
    }

    .pup{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 1.33rem;
        left: 0px;
        z-index: 88;
        background: rgba(0, 0, 0, 0.5);
    }
}
@include app-findpart-page;